
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sala de Juegos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="./QuienSoy#quien">Sobre mi</a>
      </li>
      <li class="nav-item">
        <a href="./QuienSoy#que">Sobre el trabajo</a>
      </li>
      <li class="nav-item">
        <a href="./QuienSoy#donde">Sobre las tecnologias</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./">Sala De Juegos</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./QuienSoy#quien">Quien</a></li>
        <li><a href="./QuienSoy#que">Ques es</a></li>
        <li><a href="./QuienSoy#donde">Donde</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- First Container -->
<div id="quien" class="container-fluid bg-1 text-center">
  <h3 class="margin">Quién Soy?</h3>
  <img id="miImagen" src="./assets/imagenes/soyyo.jpeg" class="img-responsive img-circle margin" alt="yo">
  <h3>Soy Un alumno de la UTN FRA</h3>
  <p>
    Programo desde los 15 años y trabajo en una empresa de sistemas desde hace 5 años. <br> Estudié 3 años de Ingeniería
    en Informática en la UBA, pero dejé la carrera y me pasé a la Tecnicatura Superior en Programación de la UTN. <br> En
    mis tiempos libres disfruto jugando al futbol, escuchando música y tocando la bateria.
  </p>
</div>

<!-- Second Container -->
<div id="que" class="container-fluid bg-2 text-center">
  <h3 class="margin">Sala de Juegos</h3>
  <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y
    formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar
    clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales
    tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa el educador busca
    información en el alumno para lograr comprender cómo se está produciendo el proceso de aprendizaje y poder reajustar
    los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar
    y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los
    estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro
    de esa misma evaluación. </p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-file"></span> Descargar PDF
  </a>
</div>

<!-- Third Container (Grid) -->
<div id="donde" class="container-fluid bg-3 text-center">
  <h3 class="margin">Características del sistema</h3><br>
  <!-- <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div> -->
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/imagenes/tecnologias.png" alt="Card image cap" style="margin: 6px 0px">
      <div class="card-body">
        <p class="card-text">Desarrollado con las tecnologias WEB de punta en el mercado que permiten desarrollar aplicaciones multiplataforma.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/imagenes/experiencia.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Desarrollo orientado a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/imagenes/browser_os_icons.png" alt="Card image cap" style="margin: 45px 0px">
      <div class="card-body">
        <p class="card-text">Desarrollado para que funcione de manera correcta en cualquier Sistema Operativo y con cualquier Browser (en su última versión).</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Modificado por Matías Sebastián Sotomayor</p>
</footer>