<div class="container">

  <div class="card-deck">
    <div class="card centrado">
      <img class="card-img-top" src="./assets/imagenes/cerebro_1.jpg" alt="Avatar">
      <div class="nombreJuego">Velocidad y agilidad aritmética</div>
      <p class="title">Juego de agilidad mental</p>
      <p> <button class="button" (click)="Juego('Agilidad')">Jugar</button></p>
    </div>
    <div class="card centrado">
      <img class="card-img-top" src="./assets/imagenes/ppt_1.jpg" alt="Avatar">
      <div class="nombreJuego">Piedra Papel o Tijera</div>
      <p class="title">Juega contra la máquina</p>
      <p> <button class="button" (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card centrado">
      <img class="card-img-top" src="./assets/imagenes/adivino.jpg" alt="Avatar">
      <div class="nombreJuego">Adivina el número secreto</div>
      <p class="title">Juega de estrategia</p>
      <p> <button class="button" (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div>
  <div class="card-deck">
    <div class="card centrado">
      <img class="card-img-top" src="./assets/imagenes/tateti.png" alt="Avatar">
      <div class="nombreJuego">Ta Te Ti</div>
      <p class="title">Juega contra la máquina</p>
      <p> <button class="button" (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card centrado">
      <img class="card-img-top" src="./assets/imagenes/anagrama.jpg" alt="Avatar">
      <div class="nombreJuego">Anagrama</div>
      <p class="title">Juega contra la máquina</p>
      <p> <button class="button" (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card centrado">
      <img class="card-img-top" src="./assets/imagenes/marcas.jpg" alt="Avatar">
      <div class="nombreJuego">Logo Quiz</div>
      <p class="title">Juego de memoria eidética</p>
      <p> <button class="button" (click)="Juego('Logoquiz')">Jugar</button></p>
    </div>
  </div>
</div>