<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" id="inputEmail" [(ngModel)]="usuario" name="uname" class="form-control" placeholder="Usuario" required
        autofocus>
      <input type="password" id="inputPassword" [(ngModel)]="clave" name="psw" class="form-control" placeholder="Contraseña" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button *ngIf="logeando" (click)="MoverBarraDeProgreso()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ingresar</button>
      <div *ngIf="!logeando" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10"
          aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho">
          {{progresoMensaje}} - {{progreso}}%
        </div>
      </div>
    </form><!-- /form -->
    <a href="#" class="forgot-password">
      ¿Olvidaste tu contraseña?
    </a>
  </div><!-- /card-container -->
</div>