<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
</div>
<form #juego="ngForm">
  <div id="cuenta">
    <span>{{ nuevoJuego.primerNumero }}</span>
    <span>{{ nuevoJuego.operador }}</span>
    <span>{{ nuevoJuego.segundoNumero }}</span>
  </div>
  <div>
    Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" name="numeroIngresado" type="text" class="form-control" style="width:50%"
      required autocomplete="off" />
  </div>
  <h2 [hidden]="ocultarVerificar"><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>

  <h2 [hidden]="!ocultarVerificar"><button (click)="NuevoJuego()" class="btn btn-info btn-lg">Nuevo</button></h2>
  <h3 *ngIf="nuevoJuego.estado == 0">Muy bien!!</h3>
  <h3 *ngIf="nuevoJuego.estado == 1">Mal! El resultado es: {{this.nuevoJuego.obtenerResultado()}}</h3>

  <!-- <ul>
    <li>
      <input [(ngModel)]="nuevoJuego.primerNumero" name="primerNumero" type="text" class="form-control" style="width:50%"
        readonly/>
    </li>
    <li>
      Operador: <input [(ngModel)]="nuevoJuego.operador" name="operador" type="text" class="form-control" style="width:50%"
        readonly/>
    </li>
    <li>
      Segundo número: <input [(ngModel)]="nuevoJuego.segundoNumero" name="segundoNumero" type="text" class="form-control"
        style="width:50%" readonly/>
    </li>
    <li>
      Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" name="numeroIngresado" type="number" class="form-control"
        style="width:50%" required/>
    </li>
    <li>
      <h2 [hidden]="ocultarVerificar"><button (click)="verificar()" class="btn btn-success btn-lg">Verificar
          {{Tiempo}} </button></h2>
    </li>
    <li>
      <h2 [hidden]="!ocultarVerificar"><button (click)="NuevoJuego()" class="btn btn-info btn-lg">Nuevo</button></h2>
    </li>
    <li>
      <h3 *ngIf="nuevoJuego.estado == 0">Muy bien!!</h3>
      <h3 *ngIf="nuevoJuego.estado == 1">Mal! El resultado es: {{this.nuevoJuego.obtenerResultado()}}</h3>
    </li>
  </ul> -->

</form>