<div class="panel panel-default">
  <div class="hero-text">
      <div id="tituloSala">Sala de Juegos</div>
      <p>Matías Sotomayor</p>
      <a class="btn btn-primary btn-lg" href="https://github.com/sotomayormatias" target="_blank">en GitHub <i class="fab fa-github-alt"></i></a>
      <a class="btn btn-primary btn-lg" routerLink="/QuienSoy">Quién Soy? <i class="fas fa-user-astronaut"></i></a>
  </div>

  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarSupportedContent">
      <form class="my-2 my-lg-3">
        <input type="button" value="Registrarse" [routerLink]="['/Registro']" class="btn btn-outline-primary">
        <input type="button" value="Ingresar" [routerLink]="['/Login']" class="btn btn-outline-primary">
      </form>
    </div>
  </nav>
</div>
